body {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: var(--cream);
    margin: 0;
    padding: 0;
    color: var(--cafe-noir);

    position: relative;
}

img {
    max-width: 100%;
    border-radius: auto;
}

header {
    position: relative;
    overflow: hidden;
    background-color: var(--deep-olive);
    color: var(--weathered);
    padding: 80px 260px;
    text-align: center;
}

.header-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);   
    width: clamp(120px, 12vw, 220px);
    height: auto;
    border-radius: 0;      
    object-fit: contain;
    opacity: 0.9;
    z-index: 1;
}


header h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 64px;
    letter-spacing: 1px;
    margin: 0;
    position: relative;
    z-index: 2;
}

header p {
    font-size: 22px;
    line-height: 1.4;
    margin-top: 12px;
    position: relative;
    z-index: 2;
}


section {
    padding: 40px 20px;
}


h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
    text-align: center;
    color: var(--cafe-noir);
    margin-bottom: 30px;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: var(--forest-moss);
    margin-top: 0;
}



.card {
    background-color: var(--cedar);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;

    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);

    transition: 0.3s;
}


.card:hover {
    transform: translateY(-5px);
}


.card p {
    line-height: 1.7;
    color: var(--cream);
}



#about {
    text-align: center;
    padding: 70px 20px;
}

#about h2 {
    font-size: 45px;      
    margin-bottom: 40px;
}


#about img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 50%;

    margin-top: 20px;
    margin-bottom: 35px;

    border: 6px solid var(--cedar);

    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
}

#about ul {
    margin-top: 20px;
}

#about ul li {
    margin: 16px 0;       
    font-size: 29px;     
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 17px;
}



#opinion .card {
    text-align: center;
    font-style: italic;
}

.side {
    position: fixed;
    top: 0;
    width: 120px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}

.header-img.left {
    left: 40px;
}

.header-img.right {
    right: 40px;
}

.vine {
    position: absolute;
    top: 300px;
    width: 180px;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center top;
    opacity: 1.0;
    pointer-events: none;  
    z-index: -1;            
}

.left-vine {
    left: 30px;
    background-image: url("images/left-vine2.png");
}


.right-vine {
    right: 30px;
    background-image: url("images/left-vine2.png");
}

@media (max-width: 900px) {

    header {
        padding: 60px 160px;
    }

     .header-img.left {
        width: clamp(80px, 10vw, 140px)
        left: 20px;
    }

    .header-img.right {
        width: clamp(80px, 10vw, 140px)
        right: 20px;
    }

    .vine {
        display: none;
    }
    .left-vine,{
        display: none;
    }   
        
    .right-vine {
        display: none;
    }    

    .side {
        display: none;
    }

    header h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    .card {
        margin: 15px;
        padding: 20px;
    }

}

@media (max-width: 600px) {
    header {
        padding: 40px 20px;
    }
    
    .vine{
        display: none;
    }   

    .header-img {
        display: 60px;
    }
     header h1 {
        font-size: 31px;  
        line-height: 1.3;
    }

    header p {
        font-size: 14px;  
        line-height: 1.4;
        margin-top: 8px;
    }
    
     #about h2 {
        font-size: 32px;
    }

    #about ul li {
        font-size: 18px;
    }

    #about img {
        width: 150px;
        height: 150px;
    }
    
    section {
        padding: 30px 15px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
    .card {
        margin: 15px;
        padding: 15px;
    }

    .card p {
        font-size: 15px;
    }

}

@media (max-width: 400px) {
    .vine{
        display:none;
    }    
    header h1 {
        font-size: 24px;
    }
    
    header p {
        font-size: 12px;
    }
}

:root {
    --clockwork: #72583E;
    --cedar: #7C7960;
    --latte: #DBC4A5;
    --deep-olive: #44422D;
    --cafe-noir: #443223;
    --mauve: #755151;
    --weathered: #A08670;
    --linen: #FFF9F3;
    --cream: #F5EBDD;
    --forest-moss: #332D1A;
}
